*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

.header-meet-landing{
    overflow: hidden;
}

.container-meet-landing{
  display: flex;
  justify-content: center;
  padding: 40px;
}





.container-hero-images{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}


.image-hero-left-meet-landing , .image-hero-right-meet-landing{
    width: 222px;
}